.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.dashboard__top {
  display: flex;
  flex-direction: row;
}
.dashboard__progress {
  display: flex;
  /* width: 50%; */
  column-span: 3;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 25px;
  max-width: 550px;
}

.dashboard__taskactivities {
  min-width: 50%;
  /* display: flex; */

  display: block;
  flex: 1;
}
.dashboard__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dashboard__teamactivities {
  width: 65%;
  margin-right: 25px;
}
.dashboard__teammemberperformance {
  display: block;
  flex: 1;
  /* overflow-y: scroll; */
}
