.overviewtop {
  padding: 30px;
  border-bottom: solid 0.7px rgba(31, 33, 39, 0.1);
}
.overviewtop__content {
  padding-top: 10px;
  line-height: 1;
}
.overviewtop__content h2 {
  font-size: 20px;
  padding-bottom: 7px;
}
.overviewtop__content span {
  font-size: 12px;
  font-weight: 200;
}
.overviewtop__content p {
  font-weight: 200;
  word-spacing: 2px;
  letter-spacing: 1px;
}
