.cardtask {
  width: 90%;
}
.cardtask__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 25px;
}
.cardtask__header p {
  font-weight: 400;
  font-size: 14px;
}
