.item {
  display: flex;
  flex-direction: row;
  padding: 20px 15px 20px 15px;
}
.icon {
  padding: 0px 8px 0 8px;
}
.title {
  padding: 0 10px 0 10px;
  text-decoration: dotted;
  font-family: "Inter", sans-serif;
  font-weight: 100;
}
.active {
  background-color: rgba(57, 84, 255, 0.05);
  color: #3954ff;
  border-left: 5px solid #3954ff;
}
.navlink {
  color: #1f212799;
  text-decoration: none;
  font-size: 14px;
}
.active h3 {
  color: #3954ff;
}
