.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f7f9fd;
  overflow-y: scroll;
  position: relative;
}

.sidebar_head {
  padding: 20px;
  font-size: larger;
  padding-top: 45px;
}

.sidebar_list {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 50px 0px 0px 0px;
}
.sidebar_logout {
  margin: 50px 25px 50px 25px;
}
